---
layout: page
title: Where to Find The XYZ Podcast
---

<div class="main">
  {% assign links = site.posts | where:'group', 'action' %}
  {% for post in links %}

  <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}" class="action" target="_blank">{{ post.title }}</a>

  {% endfor %}

  {% assign links = site.posts | where:'group', 'link' %}
  {% for post in links %}

  <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' }}" class="button" target="_blank">{{ post.title }}</a>

  {% endfor %}

  {% assign extras = site.posts | where:'group', 'extra' %}
  {% for extra in extras %}
  <div class="post">
    <h2 class="title">{{ extra.title }}</h2>
    {{ extra.content }}
  </div>
  {% endfor %}
</div>
            