---
layout: episodes
date: 2020-09-22 05:00
title: Ep. 18 - Imposter in chief (with Benjamin Delahaye)
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/XYZ_GuestArtwork_copy7mbl9.jpg
link: https://thexyzpod.podbean.com/e/ep-18-imposter-in-chief-with-benjamin-delahaye/
spotify: https://open.spotify.com/episode/4l8fOGPnd9FpDelPuaSDxz?si=5fa328b238294836
apple: https://podcasts.apple.com/ch/podcast/ep-18-imposter-in-chief-with-benjamin-delahaye/id1515002956?i=1000492104341&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys explore the imposter syndrome and are visited by Benjamin Delahaye (IG @bencomedian). Also Harry's hot tips starts to kick off....we still don't know how to feel about that.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>
    Ben is well known in Zürich for organising <a href="https://www.facebook.com/englishstandupcomedy">English Stand-up Comedy</a> events. Ben also organises a number of corporate events and activities - find out more at <a href="https://www.bendelahaye.com/">https://www.bendelahaye.com/</a>. Catch up with Ben on <a href="https://www.instagram.com/bencomedian/">Instagram</a> or <a href="https://www.facebook.com/thebendelahaye">Facebook</a>.
</p>
</div>

