---
layout: episodes
date: 2020-08-25 05:00
title: Ep. 14 - Reboot your life
categories: deep oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-14-reboot-your-life/
spotify: https://open.spotify.com/episode/0urzrs2cYKKwVWG4BooXcR?si=fae83cbf1d114d24
apple: https://podcasts.apple.com/ch/podcast/ep-14-reboot-your-life/id1515002956?i=1000489109292&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Starting from scratch can be hard. And the reasons why we have to even harder. The boys talk mental health and life changing experiences. Enjoy!</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

