---
layout: episodes
date: 2020-08-11 07:31
title: Ep. 12 - Are Men Pieces of Sh*t?
categories: dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-12-are-men-pieces-of-sht/
spotify: https://open.spotify.com/episode/15QbEozxdXfhqLqUDUneNR?si=640aaa0c443544c2
apple: https://podcasts.apple.com/ch/podcast/ep-12-are-men-pieces-of-sh-t/id1515002956?i=1000487777139&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>We recorded this a while back with our first guest Miriam! The guys learn a lot ... and then make light of it. </p>

<p>A good laugh but nothing for the faint hearted :-)</p>

<p>......</p>

<p>(plugs on this episode are out of whack. Check our instagram for more up to date show plugs)</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

