---
layout: episodes
date: 2020-09-01 05:00
title: Ep. 15 - Pushing Boundaries & Hanging in there
categories: guest
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/XYZ_GuestArtwork_smallbbcvc.png
link: https://thexyzpod.podbean.com/e/ep-15-pushing-boundaries-hanging-in-there/
spotify: https://open.spotify.com/episode/2AclI2K0KSvCcoC22pyQeC?si=7b8a64666fe045a7
apple: https://podcasts.apple.com/ch/podcast/ep-15-pushing-boundaries-hanging-in-there/id1515002956?i=1000489799066&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Guest Noemi Monoke (<a href='https://www.instagram.com/noemimonoke/'>@noemimonoke</a>) talks with the boys, exploring physical pain, comfort zones or lack thereof and Dean surprises us with some art. Of course the boys talk over each other. Strap in. This one is great!</p>

</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>
    Find out more about Noemi Monoke on <a href="https://www.instagram.com/noemimonoke/">Instagram</a>, <a href="https://www.facebook.com/NoemiMonoke/">Facebook</a> or <a href="https://linktr.ee/noemimonoke">link.tree</a>
</p>

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

