---
layout: episodes
date: 2020-09-29 07:16
title: Ep. 19 - Fame (with Ahmet Bilge)
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2020-09-28_at_1542127wrw7.jpeg
link: https://thexyzpod.podbean.com/e/ep-19-fame-with-ahmet-bilge/
spotify: https://open.spotify.com/episode/0b11VfF845NQ4VmbJ01Z5O?si=048c951f7bb34bcd
apple: https://podcasts.apple.com/ch/podcast/ep-19-fame-with-ahmet-bilge/id1515002956?i=1000492966489&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys are visited by local comedy legend Ahmet Bilge (@ahmetbilgecomedy) to discuss fame. And loads and loads of comedy. This is a fun one.</p>

<p> </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>
    Ahmet is well known in Switzerland for organising <a href="https://www.facebook.com/theASS.ch">The American Stand-up Show</a> and <a href="https://www.facebook.com/comedynightszurich">Comedy Nights Zürich</a>. Find out more about Ahmet at <a href="https://www.ahmetbilgecomedy.com/">https://www.ahmetbilgecomedy.com/</a>
</p>
</div>

