---
layout: episodes
date: 2020-07-28 10:44
title: Ep. 10 - an embarrassing childhood
categories: oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-10-an-embarrassing-childhood/
spotify: https://open.spotify.com/episode/0pZ6lvn5ASKcmYz2ZcUpMp?si=88e091bf5d104061
apple: https://podcasts.apple.com/ch/podcast/ep-10-an-embarrassing-childhood/id1515002956?i=1000486431934&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Ep 10! Who would have thunk it! The boys dive deep into their childhood's embarrassments. From weird clothing to awkward encounters. </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

