---
layout: episodes
date: 2020-08-18 15:43
title: Ep. 13 - Things are cooking!
categories: oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-13-things-are-cooking/
spotify: https://open.spotify.com/episode/3OVHXESRlChG2rWTS3VRa5?si=e8a5170130a447f6
apple: https://podcasts.apple.com/ch/podcast/ep-13-things-are-cooking/id1515002956?i=1000488512975&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This one is a bit late. we forgot the pan on the stove and had to call the fire brigade. This week the boys talk all things food and proof how middle-class they are. 

</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

