---
layout: episodes
date: 2020-08-04 05:00
title: Ep. 11 - The Future is ... well f...
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-11-the-future-is-well-f/
spotify: https://open.spotify.com/episode/42G7pLOgb0sNRDvugm5VDu?si=d86a527cdf7146d8
apple: https://podcasts.apple.com/ch/podcast/ep-11-the-future-is-well-f/id1515002956?i=1000487039579&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Some mail has arrived. The boys deal with the latest developments of the Rona. Christian goes very dark, Harry tries to safe the day and Dean had a chat with his mom.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

