---
layout: episodes
date: 2020-11-04 09:03
title: Ep. 24 - US Elections (with Miriam)
categories: guest
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-24-us-elections-with-miriam/
spotify: https://open.spotify.com/episode/111G44pJ2umI1XTpA7ivbg?si=f08dd8a1e03e4dbc
apple: https://podcasts.apple.com/ch/podcast/ep-24-us-elections-with-miriam/id1515002956?i=1000497261594&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Miriam is back in the house for a long debate about the US elections. We solve nothing. Maybe you learn something. At least there are some jokes :-). Happy Wednesday everyone.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

