---
layout: episodes
date: 2020-12-09 07:50
title: Ep. 29 - 2020 (what a ride)
categories: 
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-29-2020-what-a-ride/
spotify: https://open.spotify.com/episode/4kxpXTjHstKYiOictPn9pP?si=f4c801cdf00143e6
apple: https://podcasts.apple.com/ch/podcast/ep-29-2020-what-a-ride/id1515002956?i=1000501879583&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys contemplate the year 2020 and how crazy it has been. from stock markets to reinventing comedy there is a bit of everything.</p>

<p>sorry for the late release of this one </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

