---
layout: episodes
date: 2020-10-20 05:00
title: Ep. 22 - Culture Clash (with Nick Capper)
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/XYZ_GuestArtwork_nickjpgbsaye.jpg
link: https://thexyzpod.podbean.com/e/ep-22-culture-clash-with-nick-capper/
spotify: https://open.spotify.com/episode/5OvR1UZAlTSl4F0pNzhjo8?si=6fcab84c66a94ead
apple: https://podcasts.apple.com/ch/podcast/ep-22-culture-clash-with-nick-capper/id1515002956?i=1000495393560&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week, international comedian Nick Capper (@capperflapper on IG) is joining the boys, calling in from Melbourne, Australia. Harry likes a different Podcast, Dean falls ill and Christian has a fascination for tractors. All is good.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>
    Nick is an Australian comedian who can be heard on his two podcasts <a href="https://omny.fm/shows/the-phone-hacks/playlists/podcast">The Phone Hacks Podcast</a and <a href="https://flatstick69.podbean.com/">Flat Stick Podcast</a>. Find out more about Nick at <a href="http://www.nickcapper.com/">http://www.nickcapper.com/</a>.
</p>
</div>

