---
layout: episodes
date: 2020-06-16 05:00
title: Ep. 2 - Hopes and Dreams and Comedy
categories: oversharing comedy
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-2-hopes-and-dreams-and-comedy/
spotify: https://open.spotify.com/episode/5lan0PuaqIRgimLdskN2EM?si=3870150049dd411d
apple: https://podcasts.apple.com/ch/podcast/ep-2-hopes-and-dreams-and-comedy/id1515002956?i=1000478167976&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Before they were comedians Dean played with puppets, Christian wanted to be a Pilot and Harry Figured out capitalism. Sort of. </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

