---
layout: episodes
date: 2020-10-06 05:00
title: Ep. 20 - Switzerlands favorite past time - Voting
categories: switzerland
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-20-switzerlands-favorite-past-time-voting/
spotify: https://open.spotify.com/episode/1pn8iYkdGriNwEhLFDYt3v?si=f9653614118441d5
apple: https://podcasts.apple.com/ch/podcast/ep-20-switzerlands-favorite-past-time-voting/id1515002956?i=1000493743072&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys discuss voting. And the Swiss attitude to it. And that Dean should try it sometime. Mailbag this week is a bit different. Let us know if you like it.</p>

<p> </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

