---
layout: episodes
date: 2020-11-17 05:00
title: Ep. 26 - Sexari (with Tamara & Isabelle)
categories: guest dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-26-sexari-with-tamara-isabelle/
spotify: https://open.spotify.com/episode/4UnbIVECJj6ywYrj2W5O4c?si=48085cea33d64934
apple: https://podcasts.apple.com/ch/podcast/ep-26-sexari-with-tamara-isabelle/id1515002956?i=1000499103357&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys are joined by Tamara (@was_bringts), a sexologist, and Isabelle (@isainthemiddle), a safari guide. Together they created Sexari. This conversation goes places, geographically and emotionally. Strap in for a fascinating tale.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

