---
layout: episodes
date: 2020-11-24 05:00
title: Ep. 27 - Life on the Road
categories: deep oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-27-life-on-the-road/
spotify: https://open.spotify.com/episode/7seW1UrGwSfKwjbOTEJ1JP?si=ae7d711d872f4846
apple: https://podcasts.apple.com/ch/podcast/ep-27-life-on-the-road/id1515002956?i=1000500030021&l=en
youtube: https://www.youtube.com/watch?v=7LYdbJZxog0
---
<div class="episodes>
    <span class="description"><p>With the world stuck in corona lockdown, this week the boys recount tales of travels and life on the road.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

