---
layout: episodes
date: 2020-11-10 05:00
title: Ep. 25 - Woke
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-25-woke/
spotify: https://open.spotify.com/episode/4BzHcTW2iVZqxfIqOj0B6B?si=9a39e43c58df412c
apple: https://podcasts.apple.com/ch/podcast/ep-25-woke/id1515002956?i=1000497904674&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys talk about being woke. And hamsters. And Snakes. And they cross the line a few times. It's fun though. Please enjoy responsibly.</p>

<p>cheers</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

