---
layout: episodes
date: 2021-02-16 07:44
title: Ep. 35 - The Death of Bryan Vokey
categories: guest deep comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2021-02-15_at_165429a983t.jpeg
link: https://thexyzpod.podbean.com/e/ep-35-the-death-of-bryan-vokey/
spotify: https://open.spotify.com/episode/2CMBrm2GzwX1Zea8gN1BFq?si=d9e2f905b3b04e61
apple: https://podcasts.apple.com/ch/podcast/ep-35-the-death-of-bryan-vokey/id1515002956?i=1000509213392&l=en
youtube: https://youtu.be/Ce9xbQSnSkc
---
<div class="episodes>
    <span class="description"><p>This podcast is to honor the memory of Mr Bryan Vokey ( <a href='https://www.instagram.com/mrbryanvokey/'>@mybryanvokey</a> ) who's many years of service to comedy - including touring in Switzerland - tragically ended on this podcast episode. Bryan will be remembered for his work on <a href='https://www.youtube.com/channel/UCP86xn5ym4nciKWxYjbmpFw/featured'>The Worst Hour Podcast</a> and the <a href='https://open.spotify.com/show/71xcGjMc3Qa5Ppss210ALY?si=HnF2GF16ShG2M0BaDH5E7A'>The Fat Jocks Podcast</a>, as well as his numerous careers in a punk rock band, as a preschool teacher, doing top-secret work for the NSA and as a stand-up comedian. Find out more about Bryan on this special website dedicated to his memory - <a href='https://www.bryanvokey.com'>https://www.bryanvokey.com</a> </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>Short: "<strong>That time Bill Burr trashed Tony Hinchcliffe on Kill Tony</strong>" ...</p>
    <iframe width="560" height="315" src="https://www.youtube.com/embed/MuxrjYa_stU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

