---
layout: episodes
date: 2021-02-02 07:00
title: Ep. 33 - Why Women Aren't Funny with Caro Cacao
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2021-01-25_at_1445396vz0k.jpeg
link: https://thexyzpod.podbean.com/e/ep-33-why-women-arent-funny-with-caro-cacao/
spotify: https://open.spotify.com/episode/69Ugr3JZ1Y1oLLQf0xvRKD?si=989d11783430472b
apple: https://podcasts.apple.com/ch/podcast/ep-33-why-women-arent-funny-with-caro-cacao/id1515002956?i=1000507499280&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys are joined by good friend and fellow comedienne Caro Cacao ( @_carocacao_ ) who brings with her the most triggering topic yet (i.e. it was her idea - don't blame us!) ... "Why Women Aren't Funny". Chaos and insanity ensues. Warning: if you are easily triggered... why are you even listening to this podcast?!?</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>Caro organises Spanish Stand-up comedy events in Switzerland at <a href="https://www.cacaocomedy.ch/">https://www.cacaocomedy.ch/</a>. See Caro's Swiss SRF 3 «Comedy Talent Stage» enty below. Catch up with Caro Cacao (aka Caro Knaack) on <a href="https://www.instagram.com/_knaaaack_/">Instagram</a> or <a href="https://www.facebook.com/caroline.knaack">Facebook</a></p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/m7gG6wH7DiU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>

</div>

