---
layout: episodes
date: 2021-03-09 06:30
title: Ep. 38 - Midwife Crisis (with Phoebe)
categories: guest switzerland
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/midwife-crisis-small.png
link: https://thexyzpod.podbean.com/e/ep-38-midwife-crisis-with-phoebe/
spotify: https://open.spotify.com/episode/7p2GDbXh41b3LKW4olwQKH?si=001592203e264ac0
apple: https://podcasts.apple.com/ch/podcast/ep-38-midwife-crisis-with-phoebe/id1515002956?i=1000512338839&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys are joined by a special secret guest, code-named Phoebe - a midwife working at a hospital somewhere in Switzerland. Together they give birth to an amazing episode and along the way we learn that being a midwife is way harder than being a comedian.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

