---
layout: episodes
date: 2020-06-16 05:00
title: Ep. 3 - Tinder
categories: dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-3-tinder/
spotify: https://open.spotify.com/episode/08i6QfIl9oQ2gh0qv9Ix7Q?si=c77af3a6d1934ba9
apple: https://podcasts.apple.com/ch/podcast/ep-3-tinder/id1515002956?i=1000478167980&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Harry’s Tinder Profile is examined. Dean gives pro advice and Christian reads stuff about Duck Face.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

