---
layout: episodes
date: 2021-01-26 07:00
title: Ep. 32 - ASMR with Simsilone
categories: guest
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2021-01-24_at_21462464y9z.jpeg
link: https://thexyzpod.podbean.com/e/ep-32-asmr-with-simsilone/
spotify: https://open.spotify.com/episode/75KlkvIWYdwlFP25s6btJX?si=a49cef38aa084714
apple: https://podcasts.apple.com/ch/podcast/ep-32-asmr-with-simsilone/id1515002956?i=1000506655549&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Against the better judgement of Dean and Christian, the boys explore the secrets of ASMR with an amazing special guest - ASMR Artist Simsilone ( @simsilone ) - check out her YouTube channel "Simsilone ASMR" and more at <a href='https://linktr.ee/Simsilone'>https://linktr.ee/Simsilone</a></p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

