---
layout: episodes
date: 2021-03-02 06:30
title: Ep. 37 - Stuck on the Toilet
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-37-stuck-on-the-toilet/
spotify: https://open.spotify.com/episode/0koiCIlpNJI9T8DaARuH9x?si=957882b0ff874dd0
apple: https://podcasts.apple.com/ch/podcast/ep-37-stuck-on-the-toilet/id1515002956?i=1000511273129&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys learn what happens when you spend too much time infinite scrolling on the toilet...</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

