---
layout: episodes
date: 2021-03-23 06:30
title: Ep. 39 - Clubhouse and The Future of Sex
categories: dating deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-39-clubhouse-and-the-future-of-sex/
spotify: https://open.spotify.com/episode/2lSqTXXWaa5c00x8UDFTuh?si=4ecced58558b4b57
apple: https://podcasts.apple.com/ch/podcast/ep-39-clubhouse-and-the-future-of-sex/id1515002956?i=1000514041061&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys drop in to <a href='https://www.joinclubhouse.com/'>Clubhouse</a> to record an episode while talking live to random strangers from the Internet. Along the way they are joined by friends <a href='https://www.instagram.com/gpinto905/'>Gareth Pinto</a>, <a href='https://www.instagram.com/fairisosman/'>Fairis Osman</a>, <a href='https://www.instagram.com/_knaaaack_/'>Caro Cacao</a>, <a href='https://www.instagram.com/markuspresents/'>Markus Seppälä</a> and <a href='https://www.instagram.com/bubble.yoga/'>Anne from Bubble Yoga</a>. Then Harry takes them on a bizarre journey into the future of sex...</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

