---
layout: episodes
date: 2021-02-09 07:00
title: Ep. 34 - Heckling and Bombing (with Mateo Gudenrath)
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/e655d6f6-6daa-4a1d-b526-d29afcfb593d.jpg
link: https://thexyzpod.podbean.com/e/ep-34-heckling-and-bombing-with-mateo-gudenrath/
spotify: https://open.spotify.com/episode/4m5z0VNZHrTicXsAcYUfhY?si=df343d973b8c4397
apple: https://podcasts.apple.com/ch/podcast/ep-34-heckling-and-bombing-with-mateo-gudenrath/id1515002956?i=1000508413206&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys are taken on a wild ride by friend and special guest Mateo Gudenrath ( @mateocomedy ) - winner of the Swiss Comedy Talent Award 2020. We learn about how to bomb on stage while fighting off angry hecklers. Mateo can also be found speaking German on the <a href='https://open.spotify.com/show/1OWmEf55C10LIX453K8OSD?si=80YImq8dQROAEHv9I75fTg'>Landert & Gudenrath</a> Podcast and the <a href='https://open.spotify.com/show/3N8NyrR8pkYMDY3sZ5Ll1c?si=Xq-M7VtCQz-jKp0_dvroPg'>Endstation Podcast</a>.</p>

</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

