---
layout: episodes
date: 2021-05-18 06:00
title: Ep. 49 - Do breakups have to suck?
categories: dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-49-do-breakups-have-to-suck/
spotify: https://open.spotify.com/episode/3RLSIQ0hHJEjnXjKHwTSry?si=a553e3b7e3cb44e9
apple: https://podcasts.apple.com/ch/podcast/ep-49-do-breakups-have-to-suck/id1515002956?i=1000522110270&l=en
youtube: https://youtu.be/xMKoDJuVisg
---
<div class="episodes>
    <span class="description"><p>With lockdown easing, it's time to throw off your facemask and dump that person you spent the last year trauma bonding with. In this episode the boys discuss the right way to dump someone and be dumped so you can have an amazing summer! Yay!</p>

<p>Meanwhile just 3 more days to Friday and the amazing, the unprecedented XYZ Live Show at <a href='https://comedyhaus.ch/'>ComedyHaus</a> in Zürich. Comedy, live audience interaction ... it's gonna be a wild and crazy night folks to kick off your wild and crazy summer. Get your tickets now via <a href='https://thexyzpod.com'>thexyzpod.com</a> !</p>


</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

