---
layout: episodes
date: 2021-03-27 06:30
title: Ep. 41 - Clubhouse and The Future of Business Travel
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-41-clubhouse-and-the-future-of-business-travel/
spotify: https://open.spotify.com/episode/5Gz6HMbd0HkzIoRcmo4jsm?si=ab52663733cc4d7f
apple: https://podcasts.apple.com/ch/podcast/ep-42-the-deep-dive-series-gen-y/id1515002956?i=1000514959116&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The third and final part of the Clubhouse "Ring Cycle". The boys take a 1st class ticket into Business Travel during lockdown. Who knew that something we all despise so much could make an entertaining podcast episode? We certainly didn't...</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

