---
layout: episodes
date: 2021-03-30 04:20
title: Ep. 42 - The Deep Dive Series - Gen Y
categories: oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-42-the-deep-dive-series-gen-y/
spotify: https://open.spotify.com/episode/3utmdTUaKTZ6jixWqXa6ip?si=efc8eb988b8e466a
apple: https://podcasts.apple.com/ch/podcast/ep-42-the-deep-dive-series-gen-y/id1515002956?i=1000514959116&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys start a new series and dive deep into the past and half baked philosophies of each other. Kicking off, Christian talks about his upbringing and people that influenced him. And the first time he watched Ferris Bueller's Day Off.</p>

<p>We have a website now <a href='https://thexyzpod.com/'>https://thexyzpod.com/</a> where you can find all details re The XYZ Podcast.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

