---
layout: episodes
date: 2021-03-25 06:30
title: Ep. 40 - Clubhouse and The Future of Therapy
categories: deep oversharing
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-40-clubhouse-and-the-future-of-therapy/
spotify: https://open.spotify.com/episode/7gkeUiGRKFVA9F049KRBVA?si=922d541d7b454717
apple: https://podcasts.apple.com/ch/podcast/ep-40-clubhouse-and-the-future-of-therapy/id1515002956?i=1000514316795&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys continue their Clubhouse journey, delving into the future of online therapy and how it could help with the spike in mental health issues caused by lock-down to get to the question can online ever be a true substitute for real-world human connections?</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

