---
layout: episodes
date: 2021-04-06 06:00
title: Ep. 43 - What is Love?
categories: dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-43-what-is-love/
spotify: https://open.spotify.com/episode/2hRdqbbxs4yd8sY7mhCY70?si=105284c68ed44723
apple: https://podcasts.apple.com/ch/podcast/ep-43-what-is-love/id1515002956?i=1000515924167&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>After 30 minutes of saying terrible things about Easter, religion and ladies that hang around Sprüngli, the boys finally get over themselves and dig into this weeks topic... what is love? And no... it's not an episode about <a href='https://www.youtube.com/watch?v=HEXWRTEbj1I'>Haddaway's 1993 hit</a>. It's much more like how <a href='https://www.youtube.com/watch?v=iy4mXZN1Zzk'>Robbie Williams feels</a>...</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

