---
layout: episodes
date: 2021-04-27 06:00
title: Ep. 46 - Does Yoga really transform your life?
categories: guest deep
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/1fceee12-5e0c-4841-9924-e1bb59b6d6d5.jpg
link: https://thexyzpod.podbean.com/e/ep-46-does-yoga-really-transform-your-life/
spotify: https://open.spotify.com/episode/748U1mjfRd6syq3an1oMFZ?si=c92329f43bb74699
apple: https://podcasts.apple.com/ch/podcast/ep-46-does-yoga-really-transform-your-life/id1515002956?i=1000518772581&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys gather - after months of beer and no exercise - to meet with Anne from <a href='https://www.instagram.com/bubble.yoga/'>Bubble Yoga</a>. Anne tells the amazing tale of how she quit her career as an international marketing manager right at it's peak, left Australia and moved to Switzerland to become a Yoga Teacher. These days she teaches everyone from kids to bankers and even manages to get the boys a little motivated...</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

