---
layout: episodes
date: 2021-04-13 06:00
title: Ep. 44 - Why do we Idolize Assholes?
categories: dating deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-44-what-do-we-idolize-assholes/
spotify: https://open.spotify.com/episode/3coyKJ9nnwU1bgC0wHUh2V?si=048463ed8b174b29
apple: https://podcasts.apple.com/ch/podcast/ep-44-why-do-we-idolize-assholes/id1515002956?i=1000516894658&l=en
youtube: https://youtu.be/rnljmVapCkA
---
<div class="episodes>
    <span class="description"><p>This week the boys wonder why it is we have this strange love of evil bosses, abusive partners, psychopaths and other kinds of awful human beings? Then they proceed to abuse each other and - as usual - nothing is important is learned.</p>

<p>Watch the video version of this episode on YouTube here: <a href='https://youtu.be/rnljmVapCkA'>https://youtu.be/rnljmVapCkA</a></p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

