---
layout: episodes
date: 2021-07-27 04:20
title: Ep. 57 - Catfished!!!
categories: dating
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-57-catfished/
spotify: https://open.spotify.com/episode/7sSxnNdl49HMD9JsGJ2CdL?si=9d1026f0a12f4183
apple: https://podcasts.apple.com/ch/podcast/the-xyz-podcast/id1515002956?l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>!!!Warning: this episode might trigger some people!!!</p>

<p>One of us got Catfished. For real! Listen to this story to learn about a night out that got proper scary at one point. </p>

<p>Follow us on the socials for more information about upcoming dates or if you want to drop us a message <a href='https://thexyzpod.com/'>https://thexyzpod.com/</a></p>

<p> </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

