---
layout: episodes
date: 2020-06-16 05:00
title: Ep. 5 - Apocalypse and End of the World
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-5-apocalypse-and-end-of-the-world/
spotify: https://open.spotify.com/episode/58q8nYvTuSdbaUfrXwOXPj?si=9cd29852b9d1416d
apple: https://podcasts.apple.com/ch/podcast/ep-5-apocalypse-and-end-of-the-world/id1515002956?i=1000478167978&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Well this might all be over soon. The guys talk about the end times and discuss movies.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

