---
layout: episodes
date: 2021-06-08 06:00
title: Ep. 51 - What are men good for? (with Rachel)
categories: dating guest
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2021-06-07_at_1140506nntl.jpeg
link: https://thexyzpod.podbean.com/e/ep-51-what-are-men-good-for/
spotify: https://open.spotify.com/episode/1AwVz0XUbx9N6qPlgQWA6c?si=ac088ac1e8bb4afc
apple: https://podcasts.apple.com/ch/podcast/ep-51-what-are-men-good-for/id1515002956?i=1000524596588&l=en
youtube: https://youtu.be/33bx8NyCzPA
---
<div class="episodes>
    <span class="description"><p>This week the boys ask whether there's a crisis in masculinity, with help from Rachel, journalist, feminist, female leadership coach, <a href='https://en.wikipedia.org/wiki/Ring_girl'>ring girl</a> and lots more. The conversation jumps all over the place - leading to an XXL-sized podcast - but along the way some things are learned. Perhaps.</p>

<p>Check out Rachel on Instagram at <a href='https://www.instagram.com/honey.rebelle/'>@honey.rebelle</a> and check out the <a href='http://femaleleadershipprogram.ch/'>Female Leadership Program</a>.</p>


</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

