---
layout: episodes
date: 2021-07-06 06:00
title: Ep. 54 - The Dirty Immigrant with Victor Patrascan
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/WhatsApp_Image_2021-07-04_at_1238339u5cc.jpeg
link: https://thexyzpod.podbean.com/e/ep-54-the-dirty-immigrant-with-victor-patrascan/
spotify: https://open.spotify.com/episode/5u2foXw82MFG5xGfQA3GJ6?si=8a67be349eaa4139
apple: https://podcasts.apple.com/ch/podcast/ep-54-the-dirty-immigrant-with-victor-patrascan/id1515002956?i=1000527944102&l=en
youtube: https://youtu.be/DW4IeLL2d3E
---
<div class="episodes>
    <span class="description"><p>This week the boys catch up with Victor Pãtrãşcan, Stand Up Comedian from Romania, who can be found touring Europe with this show "The Dirty Immigrant", while living out of his backpack. Victor shares his views on Banksy, religion in post-communist Romania, old skool jokes, laughs per minute, roast battles and more...</p>

<p>Check out Victor's website - <a href='https://victorpatrascan.com/'>https://victorpatrascan.com/</a> - for upcoming shows and social deets.</p>


</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    <p>Victor especially likes old skool jokes...</p>
<iframe width="560" height="315" src="https://www.youtube.com/embed/SZIm4OPWrSw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<p>More clips from the episode with Victor <a href="https://www.youtube.com/channel/UCA9JNCYEuuA01BqnG3HWjNA/search?query=victor">here</a>.</p>

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

