---
layout: episodes
date: 2021-08-31 06:00
title: Ep. 61 - Enter the Vagina with Leila Ladari
categories: guest comedy dating
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/leila-cover.jpg
link: https://thexyzpod.podbean.com/e/ep-61-enter-the-vagina-with-leila-ladari/
spotify: https://open.spotify.com/episode/6fQYMyyw20BgvZNNlaCGSK?si=Cui4IX3MSeGCTSMt4sDyPQ&dl_branch=1
apple: https://podcasts.apple.com/ch/podcast/ep-61-enter-the-vagina-with-leila-ladari/id1515002956?i=1000533805000&l=en
youtube: https://youtu.be/16tR3Vzvy7E
---
<div class="episodes>
    <span class="description"><p>The week the boys catch up with comedian and actress Leila Ladari to discuss a topic near to everyone's hearts... vaginas. Check out Leila at <a href='https://leilaladari.com/'>https://leilaladari.com/</a> or Instagram <a href='https://www.instagram.com/leilaladari/'>@leilaladari</a> - Leila can currently be found in Switzerland performing on stages in Basel and Zürich.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

