---
layout: episodes
date: 2022-02-15 06:00
title: Ep. 79 - Do men secretly love Valentines Day?
categories: dating
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/valentines-episode.jpg
link: https://thexyzpod.podbean.com/e/ep-79-do-men-secretly-love-valentines-day/
spotify: https://open.spotify.com/episode/0V6mOcDAXVTqeN3jZViQmh?si=2b1fc7e419234262
apple: https://podcasts.apple.com/ch/podcast/the-xyz-podcast/id1515002956?l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The boys ignore all the ladies and go out for a hot podcast date with each other for Valentines Day and use it to ask an important question... do men secretly love Valentines Day?</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

