---
layout: episodes
date: 2020-06-30 05:52
title: Ep. 7 - Religion
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-7-religion/
spotify: https://open.spotify.com/episode/6zrOMWHduxeeWHBDicODBs?si=6e4a005cb9d2417b
apple: https://podcasts.apple.com/ch/podcast/ep-7-religion/id1515002956?i=1000480862465&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>The guys tackle a big one and lose track of, well most things. </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

