---
layout: episodes
date: 2022-08-09 06:00
title: Ep. 99 - Are drivers in Zürich the worst?
categories: switzerland
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/ep99.jpg
link: https://thexyzpod.podbean.com/e/ep-99-are-drivers-in-zurich-the-worst/
spotify: https://open.spotify.com/episode/5L6ML0EJi7NsLY5of8jviz?si=168d61562bc64abe
apple: https://podcasts.apple.com/ch/podcast/ep-99-are-drivers-in-z%C3%BCrich-the-worst/id1515002956?i=1000575458538&l=en
youtube: https://youtu.be/i97u5huvCeU
---
<div class="episodes>
    <span class="description"><p>This week the Dean reveals he is the proud owner of a Volvo but is struggling to deal with passive aggressive drivers in Zürich. The boys help out.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

