---
layout: episodes
date: 2022-06-14 06:00
title: Ep. 95 - Memories with Frank Richter
categories: guest comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/ep95_frank_richter.jpg
link: https://thexyzpod.podbean.com/e/ep-95-memories-with-frank-richter/
spotify: https://open.spotify.com/episode/6Ar6LXVgEZEvk4Uxhe0zOb?si=0f0b5090ef9c4229
apple: https://podcasts.apple.com/ch/podcast/ep-95-memories-with-frank-richter/id1515002956?i=1000566323043&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This week the boys get together with star of the Swiss Comedy Circuit - <a href='https://www.frankrichter.ch/'>Frank Richter</a> - who is currently touring Switzerland with his solo <a href='https://www.frankrichter.ch/solotour'>show Bla Bla Land</a>. Frank love movies - especially movies starring Liam Neeson - so they all got together to watch and do a podcast review of <a href='https://www.youtube.com/watch?v=ye63hQLDj4k'>Memory</a>... you will have to listen to the episode to find out if you should watch it...</p>
<p>Catch up with Frank on Instagram <a href='https://www.instagram.com/frank_m_richter/'>@frank_m_richter</a>.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

