---
layout: episodes
date: 2020-07-21 05:00
title: Ep. 9 - Social Media - It’s real bad, hey?!
categories: deep
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/ep-9-social-media-it-s-real-bad-hey/
spotify: https://open.spotify.com/episode/3zWt3LKKQIJQyySRkOmKoo?si=0ab380cdd8594017
apple: https://podcasts.apple.com/ch/podcast/ep-9-social-media-its-real-bad-hey/id1515002956?i=1000485610009&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p class="p1">The boys are back and try to figure out social media. They talk about memory and attention span issues and don’t really conclude anything. Sorry for last weeks unplanned break.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

