---
layout: episodes
date: 2022-05-24 06:00
title: Ep. 92 - Is wrong the new right?
categories: 
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/ep92_wrongisright.jpg
link: https://thexyzpod.podbean.com/e/ep-91-is-wrong-the-new-right/
spotify: https://open.spotify.com/episode/3J9u9rHNJZCZMCWXtGA5g6?si=e8bacfbe3ca4401e
apple: https://podcasts.apple.com/ch/podcast/the-xyz-podcast/id1515002956?l=en
youtube: https://youtu.be/ABYH_1_9ZAE
---
<div class="episodes>
    <span class="description"><p>This week the boys are allow over the place. As a podcast episode its somehow wrong. But are wrong things more interesting than right things?</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

