---
layout: episodes
date: 2020-05-24 11:13
title: so here it starts
categories: 
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/so-here-it-starts/
spotify: https://open.spotify.com/episode/06my29gzg4Xc1LkNXJsud9?si=b1effe1cc2a449d9
apple: https://podcasts.apple.com/ch/podcast/so-here-it-starts/id1515002956?i=1000475563188&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Harry, Christian and Dean start a podcast. Why? Nobody knows. But maybe you'll enjoy it.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

