---
layout: episodes
date: 2021-11-16 06:00
title: Special Announcement - 2nd XYZ Live Show coming 3rd December!
categories: comedy
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/AD_8_Dec_3_2021.jpg
link: https://thexyzpod.podbean.com/e/special-announcement-2nd-xyz-live-show-coming-3rd-december/
spotify: https://open.spotify.com/episode/2OZBeMHJCbysP4zjQvtWo1?si=4aa67db2c38e4e88
apple: https://podcasts.apple.com/ch/podcast/special-announcement-2nd-xyz-live-show-coming-3rd-december/id1515002956?i=1000542056394&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>Christmas is upon us. The season of shit music, panic buying and Uncle Jimmy’s boring stories. Does it fill you with despair? Blow all that away by join us at the second XYZ Live Show on the 3rd December. Grab your tickets <a href='https://eventfrog.ch/de/p/theater-buehne/comedy-kabarett/the-xyz-podcast-live-show-6864850434197491785.html'>here</a> on over on <a href='https://thexyzpod.com'>thexyzpod.com</a>.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    

    <div class="more">
        <h2>More Episodes</h2>
        <ul class="episodes">
            {% assign n = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | size %}
            {% assign episodes = site.episodes | where_exp: "item", "item.categories contains page.categories[0]" | where_exp:"item",
            "item.title != page.title" | sample: n | slice:0, 3 %}
            {% if n == 0 %}
                {% assign n = site.episodes | where_exp:"item", "item.title != page.title" | size %}
                {% assign episodes = site.episodes | where_exp:"item","item.title != page.title" | sample: n | slice:0, 3 %}
            {% endif %}
            {% for episode in episodes %}
            <li>
                <a href="{{ site.url }}{{ episode.url }}">
                    <img class="selfie" src="{{ episode.image }}"/>
                    <h2><span>{{ episode.title }}</span></h2>
                </a>
            </li>
            {% endfor %}
        </ul>
    </div>
    
</div>

