---
layout: episodes
date: 2021-04-10 14:06
title: The XYZ Podcast Pilot Episode
categories: 
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/the-xyz-podcast-pilot-episode/
spotify: https://open.spotify.com/episode/4igT1MF146QRZJIJrXL8Qc?si=5b2de35046f74919
apple: https://podcasts.apple.com/ch/podcast/the-xyz-podcast-pilot-episode/id1515002956?i=1000516555391&l=en
youtube: https://youtu.be/VRUs6QpMSGI
---
<div class="episodes>
    <span class="description"><p>Generation X, Y and Z - represented by three Zurich based comedians - fight and find harmony. Some of it is offensive. Some of it is funny. None of it matters.</p>

<p>Watch the video of this episode on YouTube here: https://www.youtube.com/watch?v=VRUs6QpMSGI</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

