---
layout: episodes
date: 2021-01-30 11:12
title: XYZ Special - Wall Street Bets, GameStop and the history of shorts
categories: deep
image: https://pbcdn1.podbean.com/imglogo/ep-logo/pbblog8542624/xyzstop.png
link: https://thexyzpod.podbean.com/e/xyz-special-wall-street-bets-gamestop-and-the-history-of-shorts/
spotify: https://open.spotify.com/episode/6ATjU1LWTX8BoihZs7apyy?si=0bab38de70734ecf
apple: https://podcasts.apple.com/ch/podcast/xyz-special-wall-street-bets-gamestop-history-shorts/id1515002956?i=1000507128782&l=en
youtube: https://youtu.be/H-K1xxZtNec
---
<div class="episodes>
    <span class="description"><p>In this XYZ Special, sit back, relax and let Christian share his insider knowledge of the history of the Short, beginning with the Dutch East India Company up to today and the riot that is r/WallStreetBets and GameStop.</p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

