---
layout: episodes
date: 2021-03-16 04:20
title: XYZ Announcement - Clubhouse session coming up
categories: 
image: https://pbcdn1.podbean.com/imglogo/image-logo/8542624/XYZ_Logo_ayvvb.jpeg
link: https://thexyzpod.podbean.com/e/xyz-announcement-clubhouse-session-coming-up/
spotify: https://open.spotify.com/episode/4Uh1SZGfV7BPPRqL176SOc?si=22c0ea55917f4b90
apple: https://podcasts.apple.com/ch/podcast/xyz-announcement-clubhouse-session-coming-up/id1515002956?i=1000513163101&l=en
youtube: 
---
<div class="episodes>
    <span class="description"><p>This is not a regular episode but we have some news! Join our show live this coming Friday March 19th at 08:30 pm CET on clubhouse! <a href='https://www.joinclubhouse.com/event/PDpWRJ6P'>https://www.joinclubhouse.com/event/PDpWRJ6P</a></p>

<p>all the deats on our insta @<a href='https://www.instagram.com/thexyzpodcast/'>thexyzpodcast</a></p>

<p> </p>
</span>

    {% if page.spotify %}
    <a href="{{ page.spotify }}" class="button" target="_blank">Listen to Episode on Spotify</a>
    {% endif %}

    {% if page.apple %}
    <a href="{{ page.apple }}" class="button" target="_blank">Listen to Episode on Apple Podcasts</a>
    {% endif %}

    {% if page.youtube %}
    <a href="{{ page.youtube }}" class="button" target="_blank">Watch Episode on YouTube</a>
    {% endif %}

    
</div>

