{% assign display_home = true %}
{% if page.path == "index.html" %}
{%  assign display_home = false %}
{% endif %}
{% if page.path == "_posts/2021-02-10-Explore.html" %}
{%  assign display_home = false %}
{% endif %}

<div class="explore">
    <ul>
        {% if display_home == true %}
        <li>
            <a href="{{ site.url }}">Home</a>
        </li>
        {% endif %}
        <li>
            <a href="{{ site.url }}/comedy/">Comedy</a>
        </li>
        <li>
            <a href="{{ site.url }}/guests/">Guests</a>
        </li>
        <li>
            <a href="{{ site.url }}/switzerland/">Switzerland</a>
        </li>
        <li>
            <a href="{{ site.url }}/dating/">Dating</a>
        </li>
        <li>
            <a href="{{ site.url }}/deep/">Deep</a>
        </li>
        <li>
            <a href="{{ site.url }}/oversharing/">Oversharing</a>
        </li>
        {% if display_home == true %}
        <li>
            <a href="{{ site.url }}/all/">All</a>
        </li>
        {% else %}
        <li>
            <a href="{{ site.url }}/all/">All Episodes</a>
        </li>
        {% endif %}
    </ul>
</div>