<div class="post">
    <div class="explore">
        <ul>
            <li>
                <a href="{{ site.url }}/comedy/">Comedy</a>
            </li>
            <li>
                <a href="{{ site.url }}/guests/">Guests</a>
            </li>
            <li>
                <a href="{{ site.url }}/switzerland/">Switzerland</a>
            </li>
            <li>
                <a href="{{ site.url }}/dating/">Dating</a>
            </li>
            <li>
                <a href="{{ site.url }}/deep/">Deep</a>
            </li>
            <li>
                <a href="{{ site.url }}/oversharing/">Oversharing</a>
            </li>
            <li>
                <a href="{{ site.url }}/all/">All Episodes</a>
            </li>
        </ul>
    </div>
</div>

<footer class="footer-main">
    {% include social-links.html %}
    {{ site.name }} © {{ site.time | date: '%Y' }}
</footer>
