    <header class="header-home {% if site.animation %}animated{% endif %}">
        {% include explore.html %}

        {% assign links = site.posts | where:'group', 'action' %}

        {% if site.about %}
            <a class="link" href="{{ site.url }}/about">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
        {% elsif site.ticket == true %}
            <a class="link" href="{{ site.ticket-url }}" target="_blank">
                <img class="selfie" alt="Get Your Tickets" src="{{ site.url }}/{{ site.ticket-image }}" />
            </a>
        {% elsif page.url == "/" %}
            {% for post in links %}
            {% if post.title == "Latest Episode" %}
            <a class="link" href="{{ post.excerpt | remove: '<p>' | remove: '</p>'  | remove: '<em>' | remove: '</em>' }}">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </a>
            {% endif %}
            {% endfor %}
        {% else %}
            <span class="link">
                <img class="selfie" alt="{{ site.name }}" src="{% if site.external-image %}{{ site.picture }}{% else %}{{ site.url }}/{{ site.picture }}{% endif %}" />
            </span>
        {% endif %}

        <h1 class="title">{{ site.name }}</h1>

        <div class="main">
        
        {% for post in links %}

        {% if post.type == "internal" %}
      
        <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>'  | remove: '<em>' | remove: '</em>' }}" class="action">{{ post.title }}</a>

        {% else %}

        <a href="{{ post.excerpt | remove: '<p>' | remove: '</p>' | remove: '<em>' | remove: '</em>' }}" class="action" target="_blank">{{ post.title }}</a>

        {% endif %}
      
        {% endfor %}
        </div>

        <h2 class="description">{{ site.bio }}</h2>

        {% include social-links.html %}
    </header>